/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.6;
    background: linear-gradient(135deg, rgba(230, 246, 249, 0.8), rgba(226, 191, 244, 0.8));
    color: #333;
}

/* Заголовок */
/* Стили шапки */
header {
    /* border-radius: 0 0 10px 10px; */
    background-color: #343a40; /* Немного светлее для мягкого контраста */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}

header .container {
    padding: 0 15px;
}

header img {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.05); /* Лёгкое увеличение логотипа при наведении */
}

header .fs-4 {
    color: #9ad6e8; /* Нежно-голубой цвет для логотипа */
}

header p {
    margin: 0;
    color: #d3d3d3;
}

header p:first-child {
    font-weight: 600;
    color: #e1e1e1;
}

#dropdown-nav-link {
    color: #333;
}

/* Основной контент */
h1.display-4 {
    font-weight: bold;
}

p.lead {
    color: #555;
}

/* Видео */
.ratio {
    border-radius: 10px;
    overflow: hidden;
}

/* Сайдбар */
.list-group-item a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.list-group-item a:hover {
    color: #0056b3;
}

/* Кнопка наверх */
.scroll-to-top {
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}

/* Карточки секций */
#frontend, #backend {
    transition: box-shadow 0.3s ease;
}

#frontend:hover, #backend:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Футер */
footer {
    border-radius: 10px;
}

footer .text-white a {
    color: #ccc;
    transition: color 0.3s ease;
}

footer .text-white a:hover {
    color: #9ad6e8;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .lead {
        text-align: center;
    }
    
    .navbar-nav {
        text-align: center;
    }

    .display-4 {
        font-size: 2rem;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    header img {
        margin-bottom: 10px;
    }
}

/* Увеличение заголовка при наведении */
#animated-header {
    transition: transform 0.3s ease-in-out;
}

#animated-header:hover {
    transform: scale(1.05);
}

/* Вращение изображения */
#rotating-photo {
    transition: transform 0.5s ease-in-out;
}

#rotating-photo:hover {
    transform: rotate(360deg);
}
